{% extends "base.html.j2" %}

{% block content %}
    <script src="/static/js/index.js" charset="UTF-8" integrity="sha384-naM0ucfp05PqZsE620EXkaile5uJCc1/r4R+FlOIj5Cuc69v69sa39DX3z/rfYlN"> </script>

    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark navbar">
        <div class="container"><div class="row">
            <div class="col"><button class="btn btn-primary" onclick="fetch_measurements()">Fetch</button></div>
            <div class="col"><button class="btn btn-danger"  onclick="link_api()"          >API </button></div>
        </div></div>
    </nav>

    <br>
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4" id="measurement-content">
        </div>
    </div>
{% endblock %}
