{% extends "base.html.j2" %}

{% block content %}

    Hello, People!
    <ul>
        {% for person in people %}
        <li>{{ person.fname }} {{ person.lname }}</li>
        {% endfor %}
    </ul>
{% endblock %}
